
/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-image: url('img.jpg');
    background-size: cover; /* Установите размеры фоновых изображений */
    background-position: cover; /* Установите позиции фоновых изображений */
    color: rgb(255, 255, 255);
    list-style: none;
}

header {
    background-image: url('ltd-2.png');  
    background-position: center 240px;   
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0);
    padding: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    text-shadow: 8px 8px 8px rgb(73, 73, 73);
    }

.phone-icon {
    position: fixed;
    top: 50px; /* Отступ от верхнего края */
    right: 50px; /* Отступ от правого края */
}

.phone-icon a img {
    width: 70px; /* Устанавливаем размер иконки телефона */
    height: 70px;
    transition: transform 0.3s ease; 
}

.phone-icon a img:hover {
    transform: scale(2); /* Увеличиваем размер иконки при наведении на неё */
}

nav ul {
    list-style-type: none;
    margin-top: 250px; 
}

nav ul li a:hover {
    color:rgb(0, 0, 0); /* Цвет при наведении курсора */
    font-size: 70px; /* Увеличиваем размер шрифта при наведении */
    transition: font-size 0.3s ease;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 30px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
}

section {
    padding: 200px;
}

p {
    width: 50%;
}
table {
    width: 50%;
}
.text-blockabout {
    border-radius: 30px;
    background: rgba(69, 72, 80, 0.8);
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    width: 80%; /* Ширина блока равна 90% ширины экрана */
    margin-left: auto; /* Центрируем блок по горизонтали */
    margin-right: auto;
    background-image: url('one.png');
    background-position: right; 
    background-size: 50%;
    background-repeat: no-repeat; 
}
    .text-blockservices {
        border-radius: 30px;
        background:rgb(73, 73, 73, 0.3);
        text-align: left;
        padding: 10px;
        margin-top: 30px;
        width: 80%; /* Ширина блока равна 90% ширины экрана */
        margin-left: auto; /* Центрируем блок по горизонтали */
        margin-right: auto;
        background-image: url('two.png');
        background-position: right; 
        background-size: 50%;
        background-repeat: no-repeat; 
    }

footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Форма контактов */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    color: rgb(250, 250, 250);
}

form input[type="text"],
form input[type="telephone"],
form input[type="email"],
form textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;

}

form button {
    background-color:rgb(73, 73, 73);
    color:  rgb(250, 250, 250);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: left; /* Помещаем кнопку слева */
    margin-right: 40px;
    font-size: 25px;
}
@media only screen and (max-width: 600px) {
    header {
        padding: 20px;
        font-size: 20px;
    }
    .text-blockabout, .text-blockservices {
        background-size: cover; /* Измените размер фонового изображения для мобильных устройств */
    }
    
    .phone-icon {
        top: 10px;
        right: 10px;
    }
    
    .phone-icon a img {
        width: 40px;
        height: 40px;
    }
    
    nav ul {
        margin-top: 10px;
    }
    
    nav ul li a:hover {
        font-size: 40px;
    }
    
    section {
        padding: 50px;
    }
    
    p, table {
        width: 100%;
    }
    
    .text-blockabout, .text-blockservices {
        width: 100%;
        padding: 10px;
    }
    
    form label {
        font-size: 16px;
    }
    
    form input[type="text"],
    form input[type="telephone"],
    form input[type="email"],
    form textarea {
        width: 100%;
    }
    
    form button {
        width: 100%;
        font-size: 16px;
    }
}
